@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:global(html, body, #app) {
  @apply m-0 p-0 h-full w-full;
}

:global(body) {
  @apply bg-base-100 text-base-content;
}
